body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    padding:40px;
}
.login-container{
    width:300px;
    margin:auto;
    background:white;
    padding:20px;
    border-radius:8px;
}
input{
    width:100%;
    margin:10px 0;
    padding:10px;
}
button{
    width:100%;
    padding:10px;
    cursor:pointer;
}
#dashboard{
    margin-top:20px;
    padding:20px;
    background:white;
    min-height:250px;
    border-radius:8px;
}